// Color

$color-navy: #322653;
$color-purple-1: #8062D6;
$color-purple-2:#9288F8;
$color-peach: #FFD2D7;
$color-while: #ffffff;
$color-green: #3be211;


// Đinh nghĩa các biến giá trị cỡ chữ

$fs-1: 14px;
$fs-2: 1.1rem;
$fs-3: 1.8rem;
$fs-4: 70px;
$fs-5: 1.6rem;
$fs-6: 2.25rem;
$fs-7: 20px;
$fs-8: 44px;

// độ đậm chữ
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;